.best {
    background-image: url('../images/bg/best_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
    text-align: center;

    // position: relative;
}

.best--title {
    color: $dark;
    margin-bottom: rem(80px);

    /*
    padding-top: rem(110px);
    padding-bottom: rem(38px);
    font-family: "Gagalin regular";
    font-size: rem(72px);
    text-align: center;
    text-transform: uppercase;
    */
}