.burgers {
    background: $orange; 
    background: -moz-linear-gradient(top, $firstColor 0%, $secondColor 48%, $firstColor 74%, $firstColor 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $firstColor 0%, $secondColor 48%, $firstColor 74%, $firstColor 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $firstColor 0%, $secondColor 48%, $firstColor 74%, $firstColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$firstColor', endColorstr='startColor',GradientType=0 ); /* IE6-9 */
}