.features--list {
    display: flex;
    
    @include phones {
        flex-direction: column;
    }
    /* flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    */
}

.features--item {
    margin-bottom: rem(50px);
    padding: 0 rem(15px);

    display: flex;
    flex-direction: column;

    @include phones {
        flex-direction: row;
    }
    /* width: rem(300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    */
}

/*
.features--box {
    display: flex;
    width: rem(100px);
}
*/

/*.features--img {
    margin: 0;
}
*/

.features--icon-pic {
    width: 95%;
    height: rem(100px); 
}

.features--desc {
    text-align: center;
}

.features--title {
    font-size: rem(24px);
    @include lifehack();
    color: $dark;
    margin-bottom: rem(20px);

    text-align: center;

    // text-align: center;
    // color: $featuresTitle;
    // padding-top: rem(30px);
}

.features--text p {
    @include ubuntu(light);
    font-size: rem(14px);
    text-align: center;
    color: $featuresDescription;
    padding-top: rem(20px);
}