$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

$orange: #e25028;
$yellow: #f8b43a;
$darkOrange: #eb8c38;
$green: #8ac03e;
$dark: #2f3234;
$white: #fff;

$textWhite: $white;

$orderLink: $textWhite;

$heroTitleText: $yellow;
$heroDescriptionText: $textWhite;

$featuresTitle: $dark;
$featuresDescription: $dark;

$rewiewsName: $white;
$rewiewsMessage: $white;

$rewiewsBtn: $dark;
$rewiewsBtnText: $white;

// Градиент

$firstColor: $yellow;
$secondColor: $darkOrange;