$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white: #fff;

$textWhite: $white;

$orderLink: $textWhite;

$heroTitleText: #f9b43b;
$heroDescriptionText: $textWhite;

$featuresTitle: $dark;
$featuresDescription: $dark;

$rewiewsName: $white;
$rewiewsMessage: $white;

$rewiewsBtn: $dark;
$rewiewsBtnText: $white;