.clients {
    background-image: url("../images/content/clients.png");
    background-repeat: no-repeat;
    display: block;
}

.client-photo1 {
    width: 275px;
    height: 325px;
    background-position: -5px -5px;
}

.client-photo2 {
    width: 275px;
    height: 325px;
    background-position: -290px -5px;
}

.client-photo3 {
    width: 275px;
    height: 325px;
    background-position: -575px -5px;
}

.client-photo4 {
    width: 275px;
    height: 325px;
    background-position: -5px -340px;
}

.client-photo5 {
    width: 275px;
    height: 325px;
    background-position: -290px -340px;
}

.client-photo6 {
    width: 275px;
    height: 325px;
    background-position: -575px -340px;
}

.client-photo7 {
    width: 275px;
    height: 325px;
    background-position: -860px -5px;
}

.client-photo8 {
    width: 275px;
    height: 325px;
    background-position: -860px -340px;
}