@font-face {
    font-family: 'Gagalin regular';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin--regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}