@font-face {
    font-family: 'Lifehack mediaum';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin lifehack() {
	font-family: 'Lifehack medium';
}